.fc-list-day-text {
  text-decoration: none;
  color: var(--bs-body-color);
}

.fc-list-event-graphic {
  display: none;
}

.soon {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.soon td {
  padding: 20px 0;
}

.soon  tr + tr{
  border-top: 1px solid #000; /* Adjust color and thickness as needed */
}
